* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Space Mono", monospace;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  background-color: #18191c;
}

.clock {
  background-color: #222326;
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 360px;
}

#time {
  font-size: 32px;
  margin: 10px;
  transition: color 0.2s ease-in-out;
}

.switcher {
  /* border: solid 1px pink; */
  background-color: #2d2d31;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.switcher button {
  width: 100%;
  background-color: #3a3b40;
  border: none;
  color: #afadb5;
  font-size: 18px;
  padding: 8px 10px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.switcher button:hover {
  background-color: #484a50;
}

.extra {
  color: #807e85;
  /* max-width: 150px;
  text-align: center; */
  transition: color 0.2s ease-in-out;
}

#setAlarm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  color: #afadb5;
  background-color: #3a3b40;
  padding: 5px 8px;
  border-radius: 8px;
  margin: 0 auto 20px auto;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#setAlarm:hover {
  background-color: #64656d;
}

#alarm {
  margin: 0 auto 15px auto;
  /* display: none; */
}

.alert,
.info {
  background-color: #ff3d87;
  margin: 0 0 20px 0;
  padding: 8px 15px;
  border-radius: 8px;
}

.alert {
  display: none;
}

#timezoneSelector {
  margin: 15px 0 0 0;
}
