* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Space Mono", monospace;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #18191c;
}

.clock {
  background-color: #222326;
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

#time {
  font-size: 32px;
  margin: 10px;
}

.switcher {
  /* border: solid 1px pink; */
  background-color: #2d2d31;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.switcher button {
  width: 100%;
  background-color: #3a3b40;
  border: none;
  color: #afadb5;
  font-size: 18px;
  padding: 8px 10px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.switcher button:hover {
  background-color: #484a50;
}

.extra {
  color: #807e85;
  /* max-width: 150px;
  text-align: center; */
}
